{% extends "layout/base.html.twig" %}

{% block meta %}
    <title>Catégorie {{ category.name }} | devs-cast.com</title>
    <meta property="og:title" content="Catégorie {{ category.name }} | devs-cast.com">
    <meta property="og:description" content="{{ category.description }}">
    <meta name="description" content="{{ category.description }}">
{% endblock %}

{% block body %}

{% endblock %}
