<mjml>
    <mj-head>
        <mj-title>devscast mailing</mj-title>
        <mj-preview>devscast</mj-preview>
        <mj-attributes>
            <mj-all font-family="'Helvetica Neue', Helvetica, Arial, sans-serif"></mj-all>
            <mj-text
                    font-weight="400"
                    font-size="16px"
                    color="#000000"
                    line-height="24px"
                    font-family="'Helvetica Neue', Helvetica, Arial, sans-serif"></mj-text>
        </mj-attributes>
        <mj-style inline="inline">
            .body-section { -webkit-box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 4px 11px 0px
            rgba(0, 0, 0, 0.15); box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.15); }
        </mj-style>
        <mj-style inline="inline">
            .text-link { color: #5e6ebf }
        </mj-style>
        <mj-style inline="inline">
            .footer-link { color: #888888 }
        </mj-style>
    </mj-head>

    <mj-body background-color="#000" width="600px">

        {# Logo Section #}
        <mj-section full-width="full-width" padding-bottom="0">
            <mj-column width="100%">
                <mj-image src="https://devs-cast.com/assets/img/logo-white.png" alt="" align="center" width="200px"/>
            </mj-column>
        </mj-section>

        {# Body Section #}
        <mj-wrapper padding-top="0" padding-bottom="0" css-class="body-section">
            <mj-section background-color="#ffffff" padding-left="15px" padding-right="15px">
                <mj-column width="100%">
                    <mj-text color="#212b35" font-weight="bold" font-size="20px">
                        welcome to devs-cast.com
                    </mj-text>
                    <mj-text color="#637381" font-size="16px">
                        Hi Jane,
                    </mj-text>
                    <mj-text color="#637381" font-size="16px">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia a assumenda nulla in quisquam
                        optio quibusdam fugiat perspiciatis nobis, ad tempora culpa porro labore. Repudiandae accusamus
                        obcaecati voluptatibus accusantium perspiciatis.
                    </mj-text>
                    <mj-button
                            background-color="#15db95"
                            align="center"
                            color="#ffffff"
                            font-size="17px"
                            font-weight="bold"
                            href="https://google.com"
                            width="300px">
                        Book an Appointment
                    </mj-button>
                </mj-column>
            </mj-section>

            {# Image Sections #}
            <mj-section background-color="#ffffff" padding-left="15px" padding-right="15px" padding-top="0">
                <mj-column width="50%">
                    <mj-image
                            align="center"
                            src="https://res.cloudinary.com/dheck1ubc/image/upload/v1544153577/Email/Images/AnnouncementOffset/Image_1.png"
                            alt="product 1"/>
                </mj-column>
                <mj-column width="50%">
                    <mj-image align="center"
                              src="https://res.cloudinary.com/dheck1ubc/image/upload/v1544153578/Email/Images/AnnouncementOffset/Image_2.png"
                              alt="product 2"/>
                </mj-column>
            </mj-section>
        </mj-wrapper>


        {# Footer Section #}
        <mj-wrapper full-width="full-width">
            <mj-section>
                <mj-column width="100%" padding="0">
                    <mj-text color="#fff" font-size="11px" align="center" line-height="16px">
                        Vous recevez ce courriel parce que vous vous êtes inscrit à devs-cast. et avez accepté de
                        recevoir des courriels de notre part concernant les nouvelles fonctionnalités, les événements et
                        les offres spéciales.
                    </mj-text>
                    <mj-text color="#fff" font-size="11px" align="center" line-height="16px">
                        &copy; Devscast, All Rights Reserved.
                    </mj-text>
                </mj-column>
            </mj-section>


            {# Footer Link Section #}
            <mj-section padding-top="0">
                <mj-group>
                    <mj-column width="100%" padding-right="0">
                        <mj-text color="#445566" font-size="11px" align="center" line-height="16px" font-weight="bold">
                            <a class="footer-link"
                               href="https://www.google.com">Privacy</a>
                            &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;
                            <a class="footer-link" href="https://www.google.com">Unsubscribe</a>
                        </mj-text>
                    </mj-column>
                </mj-group>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
