{% extends '@layout/backend/show.html.twig' %}

{% block content %}
    <thead>
    <tr>
        <th>Content</th>
        <th>Type</th>
        <th>State</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in vm.data %}
        <tr>
            <td>{{ item.content }}</td>
            <td>{{ item.type }}</td>
            <td>{{ active_status(item.state) }}</td>
            <td>{{ include('@layout/backend/_actions.html.twig') }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
