/.idea/
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/images/
/var/
/vendor/

.phpunit
.phpunit.result.cache
/phpunit.xml

/.web-server-pid

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn.lock
package-json.lock
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
