{% set _route = app.request.get('_route') %}

<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="{{ path('home') }}" class="brand-logo">
                    DEVSCAST
                </a>
                <ul class="right hide-on-med-and-down links">
                    <li class="waves-effect waves-light"><a href="">Screencast</a></li>
                    <li class="waves-effect waves-light"><a href="">Blog</a></li>
                    <li class="waves-effect waves-light"><a href="">Projects</a></li>
                    <li class="waves-effect waves-light"><a href="">Gallery</a></li>
                    <li class="waves-effect waves-light"><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
