{% extends "layout/base.html.twig" %}

{% block meta %}

{% endblock %}

{% block body %}
    <section class="blog-area ptb-80 bg-black">
        <div class="container">
            {{ "#Contribuer
Lorsque vous contribuez à ce dépôt, veuillez d'abord discuter du changement que vous souhaitez apporter par le biais d'un numéro,
ou toute autre méthode avec les propriétaires de ce dépôt avant de faire un changement.

Veuillez noter que nous avons un code de conduite, veuillez le suivre dans toutes vos interactions avec le projet.

## Processus de demande d'extraction

1. Assurez-vous que toutes les dépendances d'installation ou de compilation sont supprimées avant la fin de la couche lorsque vous faites un
   construire.
2. Mettez à jour le fichier README.md avec les détails des changements apportés à l'interface, y compris le nouvel environnement
   les variables, les ports exposés, les emplacements de fichiers utiles et les paramètres des conteneurs.
3. Augmentez les numéros de version dans tous les fichiers d'exemple et le fichier README.md à la nouvelle version que ce
   La demande de retrait représenterait. Le schéma de versionnement que nous utilisons est [SemVer](http://semver.org/).
4. Vous pouvez fusionner la Pull Request une fois que vous avez l'approbation de deux autres développeurs, ou si vous
   n'ont pas la permission de le faire, vous pouvez demander au deuxième examinateur de le fusionner pour vous.

## Code de conduite

### Notre engagement

Dans le but de favoriser un environnement ouvert et accueillant, nous, en tant que
les contributeurs et les mainteneurs s'engagent à participer à notre projet et
notre communauté une expérience sans harcèlement pour tous, peu importe l'âge, le corps
taille, handicap, ethnicité, identité et expression de genre, niveau d'expérience,
la nationalité, l'apparence personnelle, la race, la religion ou l'identité sexuelle et
l'orientation.

### Nos normes

Exemples de comportements qui contribuent à créer un environnement positif
inclure :

* Utiliser un langage accueillant et inclusif
* Respecter les différents points de vue et expériences
* Acceptant avec grâce les critiques constructives
* Se concentrer sur ce qui est le mieux pour la communauté
* Faire preuve d'empathie envers les autres membres de la communauté

Voici quelques exemples de comportements inacceptables de la part des participants :

* L'utilisation d'un langage ou d'une imagerie sexualisée et d'une attention sexuelle non désirée ou
avances
* Traînées, commentaires insultants ou dérogatoires, et attaques personnelles ou politiques
* Harcèlement public ou privé
* Publier les informations privées d'autrui, telles qu'un
  l'adresse, sans autorisation explicite
* Autre conduite qui pourrait raisonnablement être considérée comme inappropriée dans un
  contexte professionnel

### Nos responsabilités

Les responsables du projet sont chargés de clarifier les normes de
et on s'attend à ce qu'ils prennent des mesures correctives appropriées et équitables en
à tout cas de comportement inacceptable.

Les responsables du projet ont le droit et la responsabilité de supprimer, éditer ou
rejeter les commentaires, les commits, le code, les éditions wiki, les problèmes et les autres contributions
qui ne sont pas alignés sur le présent Code de conduite, ou d'interdire temporairement ou
de façon permanente tout contributeur pour d'autres comportements qu'ils jugent inappropriés,
menaçant, offensant ou nuisible.

### Portée

Ce code de conduite s'applique aussi bien dans les espaces du projet que dans les espaces publics
lorsqu'une personne représente le projet ou sa communauté. Des exemples de
représenter un projet ou une communauté inclure l'utilisation d'un courriel officiel du projet
l'adresse, l'affichage par le biais d'un compte officiel de médias sociaux, ou en agissant comme
à un événement en ligne ou hors ligne. La représentation d'un projet peut être
définis et clarifiés par les responsables du projet.

### Mise en application

Les cas de comportement abusif, de harcèlement ou autrement inacceptable peuvent être
en communiquant avec l'équipe de projet à [INSÉRER L'ADRESSE COURRIELLE]. Tous
seront examinées et feront l'objet d'une enquête et donneront lieu à une réponse qui
est jugé nécessaire et approprié aux circonstances. L'équipe de projet est
obligés de maintenir la confidentialité à l'égard du déclarant d'un incident.
D'autres détails sur les politiques d'application spécifiques peuvent être affichés séparément.

Les responsables de projet qui ne suivent pas ou n'appliquent pas le Code de conduite en bonne et due forme
la foi peut avoir des répercussions temporaires ou permanentes, selon ce qui est déterminé par d'autres
membres de la direction du projet.

### Attribution

Ce Code de conduite est adapté de la [Convention des contributeurs] [page d'accueil], version 1.4,
disponible sur [http://contributor-covenant.org/version/1/4] [version]

[page d'accueil](http://contributor-covenant.org)
[version](http://contributor-covenant.org/version/1/4/)" | markdown_to_html }}
        </div>
    </section>
{% endblock %}
