{% extends "layout/base.html.twig" %}

{% block meta %}
    <title>Nos Projets | devs-cast.com</title>
    <meta property="og:title" content="Nos Projets | devs-cast.com">
    <meta property="og:description" content="{{ meta().projectDescription }}">
    <meta name="description" content="{{ meta().projectDescription }}">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"/>
    <script defer src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>
{% endblock %}

{% block body %}
    <section id="github-calendar" class="about-area ptb-80 bg-black">
        <div class="container">
            <div class="section-title">
                <span>Open source</span>
                <h1>Notre activité sur Github</h1>
                <div class="bar"></div>
            </div>
            <div class="calendar animated fadeIn" style="text-align: center">Chargement de l'activité...</div>
        </div>
    </section>
    {% include 'app/includes/_divider.html.twig' %}
    {% include 'app/sections/_projects.html.twig' %}
{% endblock %}

