// animation activation
$use-fadeInDown: true;
$use-fadeOutUp: true;
$use-slideInLeft: true;
$use-slideInRight: true;

@import "~animate-sass/_animate.scss";

body {
  position: relative;
  z-index: 100;
  overflow-x: hidden;
}

#js-particles canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0.4 !important;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

#js-particles {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0
}
