#github-calendar {
  .calendar {
    border: none;
    border-radius: 0;

    .position-relative {
      .border {
        border: 1px solid $white-color-two !important;
      }
    }
  }
}

::selection {
  background-color: $main-color;
  color: #ffffff;
}

a {
  color: $main-color;

  &:hover {
    color: $main-color-hover;
  }
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
  z-index: 250;
}

.modal {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: $black-color;
  border: 1px solid $black-color;
  border-radius: 0;
}
