{% extends "@layout/base.html.twig" %}

{% block meta %}
    <title>Contact | devs-cast.com</title>
    <meta property="og:title" content="Contact | devs-cast.com">
    <meta property="og:description" content="{{ meta().contactDescription }}">
    <meta name="description" content="{{ meta().contactDescription }}">
{% endblock %}

{% block body %}
    {% include '@frontend/sections/_contact.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="//www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
    <script>
        function recaptchaCallback(token) {
            var elem = document.querySelector(".g-recaptcha");
            while ((elem = elem.parentElement) !== null) {
                if (elem.nodeType === Node.ELEMENT_NODE && elem.tagName === 'FORM') {
                    elem.submit();
                    break;
                }
            }
        }
    </script>
{% endblock %}
