.contact-image {
  text-align: center;
}

.contact-form {
  padding: {
    left: 40px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .row {
    margin: {
      left: -10px;
      right: -10px;
    }

    .col-lg-12, .col-lg-6 {
      padding: {
        left: 10px;
        right: 10px;
      }
    }
  }

  textarea.form-control {
    line-height: initial;
    padding-top: 12px;
  }

  button {
    background-color: $main-color;
    color: $white-color;
    border: none;
    padding: 13px 30px;
    outline: 0;
    transition: $transition;
    font: {
      weight: 500;
      size: 16px;
    }

    &:hover {
      color: $black-color;
      background-color: $white-color
    }
  }

  .with-errors {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        margin-top: 5px;
        color: red;
      }
    }
  }

  #msgSubmit {
    margin-bottom: 0;
    font-size: 18px;

    &.text-danger {
      margin-top: 15px;
    }
  }
}

.contact-form.light {
  .form-control {
    background-color: #f9f9f9;;
    color: $black-color-two;

    &::-webkit-input-placeholder {
      color: #444444;
    }

    &:-ms-input-placeholder {
      color: #444444;
    }

    &::placeholder {
      color: #444444;
    }
  }

  button {
    &:hover {
      background-color: $black-color-two;
      color: $white-color;
    }
  }
}

.help-block.with-errors {
  font-size: 13px;
}
