@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  padding: 0;
  margin: 0;
  font: {
    family: $font-family;
    size: $font-size;
  }
}

img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;

  &-cell {
    vertical-align: middle;
  }
}

a {
  text-decoration: none;
  outline: 0 !important;
  transition: $transition;

  &:hover {
    text-decoration: none;
  }
}

button {
  outline: 0 !important;
}

input {
  outline: 0 !important;
}

p {
  line-height: 1.8;
  font-size: $font-size;
  color: $paragraph-color;

  &:last-child {
    margin-bottom: 0;
  }
}

.ptb-80 {
  padding: {
    top: 80px;
    bottom: 80px;
  }
}

.br-line {
  position: relative;
  overflow: hidden;
  height: 60px;
  width: 3px;
  background: $white-color;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;

  &::after, &::before {
    content: "";
    position: absolute;
    background: $black-color;
    width: 100%;
    height: 3px;
    left: 0;
    z-index: -1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: MOVE-BG;
  }

  &::before {
    top: 10px;
  }

  &::after {
    top: 0;
  }
}

@keyframes MOVE-BG {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(60px);
  }
}

.separate.bg-light {
  .br-line {
    background: $main-color;

    &::before, &::after {
      background-color: $white-color;
    }
  }
}

/*section-title*/
.section-title {
  position: relative;
  text-align: center;
  max-width: 600px;
  padding-bottom: 30px;
  margin: {
    left: auto;
    right: auto;
    bottom: 55px;
  }

  span {
    text-transform: uppercase;
    color: $main-color;
    margin-bottom: 2px;
    display: block;
    font: {
      size: 13px;
      weight: 700;
    }
  }

  h2 {
    color: $white-color;
    margin-bottom: 0;
    line-height: 1.5;
    font: {
      size: 34px;
      weight: 700;
    }
  }

  .bar {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    &::before, &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: $black-color;
      left: 10px;
      top: 0;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-name: MOVE-BG-2;
    }

    &::after {
      left: 0;
    }
  }
}

@keyframes MOVE-BG-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(60px);
  }
}

.section-title.light {
  h2 {
    color: $black-color-two;
  }

  .bar {
    &::before, &::after {
      background-color: $white-color;
    }
  }
}

.form-control {
  height: 52px;
  background-color: #212121;
  border-radius: 0;
  transition: $transition;
  color: $white-color;
  font-size: 13.5px;
  line-height: 52px;
  box-shadow: unset !important;
  border: none;
  padding: {
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
  }

  &::placeholder {
    color: #dddddd;
  }

  &:focus {
    background-color: #212121;
    color: $white-color;
  }
}

.default-btn {
  display: inline-block;
  background-color: $main-color;
  color: $white-color;
  border: none;
  padding: 11px 30px;
  outline: 0;
  transition: $transition;
  font: {
    weight: 500;
    size: 15px;
  }

  &:hover {
    color: $black-color;
    background-color: $white-color
  }

  &.white-color-btn {
    background-color: $white-color;
    color: $black-color;

    &:hover {
      color: $white-color;
      background-color: $main-color;
    }
  }
}

.bg-light {
  background-color: $white-color !important;
}
