.subscribe-area {
  background-color: #111111;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .04;
    height: 100%;
    z-index: -1;
    background: {
      image: url(/assets/img/bg_lines.svg);
      repeat: no-repeat;
      position: center;
      size: 200%;
    }
  }
}

.subscribe-bg-light {
  background-color: #424242;
}

.subscribe-content {
  text-align: center;

  h2 {
    color: $white-color;
    margin-bottom: 0;
    font: {
      weight: 700;
      size: 34px;
    }
  }

  .newsletter-content {
    max-width: 600px;
    margin: {
      top: 30px;
      left: auto;
      right: auto;
    }

    form {
      position: relative;
    }

    input {
      display: block;
      width: 100%;
      height: 55px;
      background-color: $white-color;
      border: none;
      padding-left: 20px;
      color: $black-color;
      outline: 0;
      border-radius: 30px;
      font: {
        size: 15px;
      }

      &::placeholder {
        color: #bfbfbf;
      }
    }

    button {
      background-color: $main-color;
      color: $white-color;
      border: none;
      padding: 0 22px 0 25px;
      position: absolute;
      right: 0;
      height: 55px;
      line-height: 57px;
      text-transform: uppercase;
      top: 0;
      transition: $transition;
      border-radius: 30px 0 0 30px;
      font: {
        size: 14px;
        weight: 600;
      }

      &:hover {
        color: $white-color;
        background-color: $black-color;
      }
    }

    #validator-newsletter {
      position: absolute;
      left: 0;
      bottom: -30px;
      color: $white-color;
      font-size: 13px;
    }
  }
}
