.preloader {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 9999999;
  background-color: transparent;
  transition: .9s;

  .loader {
    transition: $transition;
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    transform: translateY(-45%);

    .loader-outter {
      position: absolute;
      border: 4px solid $white-color;
      border-left-color: transparent;
      border-bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      animation: loader-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    .loader-inner {
      position: absolute;
      border: 4px solid $white-color;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      left: calc(50% - 30px);
      top: calc(50% - 30px);
      border-right: 0;
      border-top-color: transparent;
      animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }

    span {
      display: inline-block;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      color: $white-color;
      font: {
        size: 25px;
        weight: 700;
      }
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    z-index: -1;
    background: $main-color;
    transition: .9s;
  }

  &::after {
    left: auto;
    right: 0;
  }

  &.preloader-deactivate {
    visibility: hidden;

    &::after, &::before {
      width: 0;
    }

    .loader {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@keyframes loader-outter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
