.widget-area {
  .widget {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }

    .widget-title {
      border-bottom: 1px solid #2b2b2b;
      padding-bottom: 10px;
      margin-bottom: 20px;
      text-transform: capitalize;
      position: relative;
      color: $white-color;
      font: {
        weight: 700;
        size: 19px;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 50px;
        height: 1px;
        background-color: $main-color;
      }
    }
  }

  .widget_search {
    box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
    background-color: #111111;
    padding: 15px;

    form {
      position: relative;

      label {
        display: block;
        margin-bottom: 0;
      }

      .screen-reader-text {
        display: none;
      }

      .search-field {
        background-color: transparent;
        height: 50px;
        padding: 6px 15px;
        border: 1px solid #2b2b2b;
        color: $white-color;
        width: 100%;
        display: block;
        outline: 0;
        transition: $transition;

        &:focus {
          border-color: $main-color;
        }
      }

      button {
        position: absolute;
        right: 0;
        outline: 0;
        bottom: 0;
        height: 50px;
        width: 50px;
        border: none;
        color: $white-color;
        background-color: transparent;
        transition: $transition;

        &:hover {
          background-color: $main-color;
        }
      }
    }
  }

  .widget_axton_posts_thumb {
    position: relative;
    overflow: hidden;

    .item {
      overflow: hidden;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .thumb {
        float: left;
        height: 80px;
        overflow: hidden;
        position: relative;
        width: 80px;
        margin-right: 15px;

        .fullimage {
          width: 80px;
          height: 80px;
          display: inline-block;
          background: {
            size: cover !important;
            repeat: no-repeat;
            position: center center !important;
          }

          &.bg1 {
            background-image: url(/assets/img/blog/1.jpg);
          }

          &.bg2 {
            background-image: url(/assets/img/blog/2.jpg);
          }

          &.bg3 {
            background-image: url(/assets/img/blog/3.jpg);
          }
        }
      }

      .info {
        overflow: hidden;

        time {
          display: block;
          text-transform: uppercase;
          color: $paragraph-color;
          margin: {
            top: 5px;
            bottom: 5px;
          }
          font: {
            size: 11px;
          }
        }

        .title {
          margin-bottom: 0;
          line-height: 1.4;
          color: $white-color;
          font: {
            size: 14px;
            weight: 700;
          }

          a {
            color: $white-color;
            display: inline-block;

            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }
  }

  .widget_recent_entries {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        position: relative;
        margin-bottom: 12px;
        padding-left: 14px;
        line-height: 1.5;
        color: $paragraph-color;
        font: {
          weight: 600;
          size: 13.5px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          background: $main-color;
          position: absolute;
          height: 7px;
          width: 7px;
          content: '';
          left: 0;
          top: 7px;
        }

        a {
          color: $paragraph-color;
          display: inline-block;

          &:hover {
            color: $main-color;
          }
        }

        .post-date {
          display: block;
          font-size: 13px;
          margin-top: 4px;
        }
      }
    }
  }

  .widget_recent_comments {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        position: relative;
        margin-bottom: 12px;
        padding-left: 14px;
        line-height: 1.5;
        color: $white-color;
        font: {
          size: 13.5px;
          weight: 600;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          background: $main-color;
          height: 7px;
          width: 7px;
          content: '';
          left: 0;
          top: 7px;
          position: absolute;
        }

        span {
          display: inline-block;
        }

        a {
          display: inline-block;
          color: $paragraph-color;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  .widget_archive {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        position: relative;
        margin-bottom: 12px;
        padding-left: 14px;
        color: $paragraph-color;
        font: {
          size: 13.5px;
          weight: 600;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          background: $main-color;
          height: 7px;
          width: 7px;
          content: '';
          left: 0;
          top: 7px;
          position: absolute;
        }

        a {
          color: $paragraph-color;
          display: inline-block;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  .widget_categories {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        position: relative;
        margin-bottom: 12px;
        padding-left: 14px;
        color: $paragraph-color;
        font: {
          size: 13.5px;
          weight: 600;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          background: $main-color;
          height: 7px;
          width: 7px;
          content: '';
          left: 0;
          top: 7px;
          position: absolute;
        }

        a {
          color: $paragraph-color;
          display: inline-block;

          &:hover {
            color: $main-color;
          }
        }

        .post-count {
          float: right;
        }
      }
    }
  }

  .widget_meta {
    ul {
      padding-left: 0;
      margin-bottom: 0;
      list-style-type: none;

      li {
        position: relative;
        margin-bottom: 12px;
        padding-left: 14px;
        color: $paragraph-color;
        font: {
          size: 13.5px;
          weight: 600;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &::before {
          background: $main-color;
          height: 7px;
          width: 7px;
          content: '';
          left: 0;
          top: 7px;
          position: absolute;
        }

        a {
          color: $paragraph-color;
          display: inline-block;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }

  .widget_tag_cloud {
    .widget-title {
      margin-bottom: 12px;
    }
  }

  .tagcloud {
    a {
      display: inline-block;
      font: {
        weight: 600;
        size: 11.5px !important;
      }
      padding: 6px 13px;
      border: 1px dashed #2b2b2b;
      color: $paragraph-color;
      margin: {
        top: 8px;
        right: 4px;
      }

      &:hover, &:focus {
        color: $white-color;
        border-color: $main-color;
        background-color: $main-color;
      }
    }
  }
}

.light-widget {
  .widget {
    .widget-title {
      color: $black-color-two;
      border-bottom: 1px solid #f3f3f3;
    }
  }

  .widget_search {
    box-shadow: none;
    background-color: #f5f5f5;

    form {
      .search-field {
        background-color: #fff;
        border: 1px solid #ffffff;
        color: #212529;
      }

      button {
        color: $black-color-two;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .widget_axton_posts_thumb {
    .item {
      .info {
        time {
          color: $paragraph-color-two;
        }

        .title {
          a {
            color: $black-color-two;
          }
        }
      }
    }
  }

  .widget_recent_comments {
    ul {
      li {
        color: #585858;

        a {
          color: $paragraph-color-two;
        }
      }
    }
  }

  .widget_recent_entries {
    ul {
      li {
        a {
          color: $paragraph-color-two;
        }
      }
    }
  }

  .widget_archive {
    ul {
      li {
        a {
          color: $paragraph-color-two;
        }
      }
    }
  }

  .widget_categories {
    ul {
      li {
        a {
          color: $paragraph-color-two;
        }
      }
    }
  }

  .widget_meta {
    ul {
      li {
        a {
          color: $paragraph-color-two;
        }
      }
    }
  }

  .tagcloud {
    a {
      color: $paragraph-color-two;
      border: 1px dashed #dadada;
    }
  }
}
