<section id="about" class="about-area ptb-80 bg-black">
    <div class="container">
        <div class="section-title">
            <span>A Propos de nous</span>
            <h2>A la pointe du développement créatif du Web</h2>
            <div class="bar"></div>
        </div>

        <div class="overview-box">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <i class="flaticon-quality"></i>
                        <h3>Compétances</h3>
                        <div class="bar"></div>
                        <p>
                            Avec plus de 5 ans d'expériences et après avoir
                            travailler sur plusieurs projets personnels,
                            en entreprise et en freelance, nos compétences
                            ont été estimée comme suit par nos clients.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="skills-list">
                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Backend & API</h4>
                                <div class="skill-percentage">
                                    <div class="count-box">
                                        <span class="count-text" data-speed="2000" data-stop="90">0</span>%
                                    </div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="90"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Frontend & Design</h4>
                                <div class="skill-percentage">
                                    <div class="count-box">
                                        <span class="count-text" data-speed="2000" data-stop="75">0</span>%
                                    </div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="75"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Project Managing</h4>
                                <div class="skill-percentage">
                                    <div class="count-box">
                                        <span class="count-text" data-speed="2000" data-stop="80">0</span>%
                                    </div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="80"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Tooling & Open-source</h4>
                                <div class="skill-percentage">
                                    <div class="count-box">
                                        <span class="count-text" data-speed="2000" data-stop="85">0</span>%
                                    </div>
                                </div>
                            </div>
                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="85"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
