<section class="subscribe-area ptb-80">
    <div class="container">
        <div class="subscribe-content">
            <h2>S'inscrire à notre newsletter</h2>
            <div class="newsletter-content">
                <form class="newsletter-form">
                    <input type="email"
                           name="newsletter"
                           class="input-newsletter"
                           placeholder="votre adresse mail..."
                           required
                           autocomplete="off">
                    <button type="submit">S'inscrire</button>
                </form>
            </div>
        </div>
    </div>
</section>
