{% extends 'layout/base.html.twig' %}

{% block meta %}
    <title>Blog | devs-cast.com</title>
    <meta property="og:title" content="Blog | devs-cast.com">
    <meta property="og:description" content="Blog des Createurs">
    <meta name="description" content="Blog des Createurs">
{% endblock %}

{% block body %}
    {% include 'app/sections/_blog.html.twig' %}
{% endblock %}
