{% extends 'layout/base.html.twig' %}

{% block meta %}
    <title>Blog | devs-cast.com</title>
    <meta property="og:title" content="Blog | devs-cast.com">
    <meta property="og:description" content="{{ meta().blogDescription }}">
    <meta name="description" content="{{ meta().blogDescription }}">
{% endblock %}

{% block body %}
    {% include 'app/sections/_blog.html.twig' %}
{% endblock %}
