{% extends '@layout/backend/index.html.twig' %}

{% block content %}
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Archived</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for item in vm.data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ active_status(item.isArchived) }}</td>
            <td>{{ include('@layout/backend/_actions.html.twig') }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
