{% extends 'layout/base.html.twig' %}

{% block meta %}
    <title>Toutes les Vidéos | devs-cast.com</title>
    <meta property="og:title" content="Toutes les Vidéos | devs-cast.com">
    <meta property="og:description" content="{{ meta().postDescription }}">
    <meta name="description" content="{{ meta().postDescription }}">
{% endblock %}

{% block body %}
    <main id="{{ data_type }}" class="pt-32 pb-56 md:px-20 px-5 bg-white z-10">
        <div>
            <h1 class="bt-title">Tutoriels</h1>
            <p>Formez vous avec devscast</p>
        </div>

        <div class="mt-10">
            {% if posts|length > 0 %}
                <div class="grid lg:grid-cols-3 sm:grid-cols-2 gap-6">
                    {% if posts is defined %}
                        {% for post in posts %}
                            <div class="view">
                                {% include '@frontend/posts/_card.html.twig' %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                <div class="mt-8 text-center">
                    <h1>Pas des Tutoriels disponible</h1>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
