<section id="about" class="about-area ptb-80 bg-black">
    <div class="container">
        <div class="section-title">
            <span>About Me</span>
            <h2>Leading the way in Creative Digital Marketing</h2>
            <div class="bar"></div>
        </div>

        <div class="overview-box">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="about-content">
                        <i class="flaticon-quality"></i>
                        <h3>Skills</h3>
                        <div class="bar"></div>
                        <p>We provide marketing services to startups and small businesses to looking for a partner
                            of their digital media, design & development, lead generation and communications
                            requirements.</p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="skills-list">
                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">SEO, SEM & SMM</h4>

                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2000"
                                                                 data-stop="95">0</span>%
                                    </div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="95"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Content Writing</h4>

                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2000"
                                                                 data-stop="90">0</span>%
                                    </div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="90"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Affiliate Marketing</h4>

                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2000"
                                                                 data-stop="85">0</span>%
                                    </div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="85"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-header">
                                <h4 class="skill-title">Keyword Research</h4>

                                <div class="skill-percentage">
                                    <div class="count-box"><span class="count-text" data-speed="2000"
                                                                 data-stop="90">0</span>%
                                    </div>
                                </div>
                            </div>

                            <div class="skill-bar">
                                <div class="bar-inner">
                                    <div class="bar progress-line" data-width="90"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
