<section id="{{ data_type }}" class="blog-area ptb-80 bg-black">
    <div class="container">
        <div class="section-title">
            <span>Notre Blog</span>
            <h1>Articles récents</h1>
            <div class="bar"></div>
        </div>

        <div class="row">
            {% if blogs is defined %}
                {% for blog in blogs %}
                    <div class="col-lg-4 col-md-4">
                        {% include 'app/blog/_card.html.twig' %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="m-auto">
            {{ knp_pagination_render(blogs) }}
        </div>
    </div>
</section>
