<div class="md:px-20 py-10">
        <div class="text-center">
        <span class="badge badge-indigo">Expertises</span>
        <h2 class="zone-title mt-3">Nos expertises métiers</h2>
    </div>
    <div class="gap-16 md:flex grid items-center mt-8">
        <div class="lg:w-6/12 md:w-8/12 lg:pl-8 px-5 pl-10">
            <div id="expertises" class="border-l-2 sm:border-white border-indigo-200 pl-3 mb-8 md:h-48 md:overflow-y-hidden">
                <div class="-ml-8 md:ml-0 md:block sm:grid sm:grid-cols-2 gap-0 sm:gap-3 z-20">                 
                    <div class="pb-3 flex sm:block">
                        <div>
                            <span class="badge-circle badge-indigo border-4 border-white">1</span>
                        </div>
                        
                        <div>
                            <h3 class="text-2xl font-semibold text-gray-800">Intégration</h3>
                            <p class="mt-3 ">Intégration des maquettes html à un backend (PHP) existant , intégration d'une api à un backend, intégration d'un service tier à votre application.</p>
                        </div>
                    </div>
                    <div class="py-3 flex sm:block">
                        <div>
                            <span class="badge-circle badge-indigo border-4 border-white">2</span>
                        </div>
                        
                        <div>
                            <h3 class="text-2xl font-semibold text-gray-800">Test de performance</h3>
                            <p class="mt-3 ">Nous testons les performances des applications PHP et nodejs et identifions les problèmes en vu de les corriger et ainsi les améliorer.</p>
                        </div>
                    </div>
                    <div class="py-3 flex sm:block">
                        <div>
                            <span class="badge-circle badge-indigo border-4 border-white">3</span>
                        </div>

                        <div>
                            <h3 class="text-2xl font-semibold text-gray-800">Mise en production</h3>
                            <p class="mt-3 ">Nous vous accompagnons dans le processus de la mise en ligne de votre application, nous gérons le versioning et la configuration du serveur.</p>
                        </div>
                    </div>                   
                    <div class="py-5 flex sm:block">
                        <div>
                            <span class="badge-circle badge-indigo border-4 border-white">4</span>
                        </div>

                        <div>
                            <h3 class="text-2xl font-semibold text-gray-800">Développement</h3>
                            <p class="mt-3 ">Nous développons des sites web, applications web et API rest. sur mes mesures selon votre cahier de charge et attentes.</p>
                        </div>
                    </div>
                    <div class="py-5 flex sm:block">

                        <div>
                            <span class="badge-circle badge-indigo border-4 border-white">5</span>
                        </div>

                        <div>
                            <h3 class="text-2xl font-semibold text-gray-800">Formations</h3>
                            <p class="mt-3 ">Nous formons et aidons les développeur web à devenir meilleurs en utilisant les technologies à la pointe et standards.</p>
                        </div>
                    </div>
                    <div class="py-5 flex sm:block">
                        <div>
                            <span class="badge-circle badge-indigo border-4 border-white">6</span>
                        </div>

                        <div>
                            <h3 class="text-2xl font-semibold text-gray-800">Code review</h3>
                            <p class="mt-3 ">Nous faisons de la revue de code sur des projets existant afin de corriger les erreurs de conceptions avant la mise en production.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('contact') }}" class="btn btn-white text-indigo-500">Embauchez nous</a>
        </div>
        <div class="lg:w-6/12 md:w-5/12 md:px-0 px-5 order-first">
            <img src="{{ asset('/assets/img/undraw_pair_programming_njlp.svg') }}" alt="">
        </div>
    </div>
</div>