<section class="featured-services-area bg-black">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-creative-idea"></i>
                    </div>
                    <h3>Développement Web</h3>
                    <div class="bar"></div>
                    <p>
                        Nous construisons nos solutions principalement avec les frameworks : Symfony, Laravel, ReactJs
                    </p>
                    <div class="shape-img">
                        <img src="assets/img/shape1.png" alt="shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-targeting"></i>
                    </div>
                    <h3>Tutoriel Vidéo</h3>
                    <div class="bar"></div>
                    <p>
                        Nous enregistrons des tutoriels pour partager nos connaissances et astuces dans le
                        développement.
                    </p>
                    <div class="shape-img">
                        <img src="{{ asset('/assets/img/shape1.png') }}" alt="shape">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-featured-services-box">
                    <div class="icon">
                        <i class="flaticon-research"></i>
                    </div>
                    <h3>Recherche et Blogging</h3>
                    <div class="bar"></div>
                    <p>
                        Nous rédigons des articles en rapport avec nos recherches et l'évolution avec la technologie
                    </p>
                    <div class="shape-img">
                        <img src="{{ asset('/assets/img/shape1.png') }}" alt="shape">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
