<div class="md:p-20  py-10 p-5 bg-gray-100">
    <div class="shadow-lg py-10 px-2 bg-white">
        <div class="mx-auto text-center">
            <h1 class="lg:w-2/4 md:w-3/4  mx-auto text-4xl font-bold text-blue-900">Besoin d'un site ou application web moderne ?</h1>
            <p class="text-lg mb-8 mt-4">Notre équipe est prête à vous aider, contactez nous maintenant et obtenez un dévis gratuit.</p>
            <a href="{{ path('contact') }}" class="btn-lg btn-green">Prendre contact</a>
        </div> 
    </div>
</div>