<section id="projects" class="projects-area ptb-80 bg-black">
    <div class="container">
        <div class="section-title">
            <span>NOS PROJETS RÉALISÉS </span>
            <h2>Projets récents</h2>
            <div class="bar"></div>
        </div>
    </div>

    <div class="projects-slides owl-carousel owl-theme">
        <div class="single-projects-box">
            <a href="index.html#"><img src="assets/img/projects/1.jpg" alt="img"></a>

            <div class="projects-content">
                <h3><a href="">Development</a></h3>
                <span>Web / Mobile</span>
            </div>
        </div>

        <div class="single-projects-box">
            <a href="index.html#"><img src="assets/img/projects/2.jpg" alt="img"></a>

            <div class="projects-content">
                <h3><a href="">Architecture</a></h3>
                <span>Home / Bridge</span>
            </div>
        </div>

        <div class="single-projects-box">
            <a href="index.html#"><img src="assets/img/projects/3.jpg" alt="img"></a>

            <div class="projects-content">
                <h3><a href="">UX/UI Design</a></h3>
                <span>Web / Mobile</span>
            </div>
        </div>

        <div class="single-projects-box">
            <a href="index.html#"><img src="assets/img/projects/4.jpg" alt="img"></a>

            <div class="projects-content">
                <h3><a href="">Marketing</a></h3>
                <span>Digital / Affiliate</span>
            </div>
        </div>

        <div class="single-projects-box">
            <a href="index.html#"><img src="assets/img/projects/5.jpg" alt="img"></a>

            <div class="projects-content">
                <h3><a href="">Photography</a></h3>
                <span>Digital / Photo</span>
            </div>
        </div>
    </div>
</section>
