{% if services is defined %}
    <section id="services" class="services-area ptb-80 bg-black">
        <div class="container">
            <div class="section-title">
                <span>Ce que nous faisons</span>
                <h2>Nos Compétences</h2>
                <div class="bar"></div>
            </div>

            <div class="row">
                {% for service in services.data %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services-box">
                            <div class="icon">
                                <i class="{{ service.icon }}"></i>
                            </div>
                            <h3>{{ service.name }}</h3>
                            <p>
                                {{ service.description | nl2br }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
