<!DOCTYPE html>
<html lang="en">
<head>
    <title>API ADMIN | devs-cast.com</title>
    {% include "app/includes/_meta.html.twig" %}
    {% block stylesheets %}{% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
