{% extends "layout/base.html.twig" %}

{% block meta %}
    <title>Devscast, Numeric Builders | devs-cast.com</title>
    <meta property="og:title" content="Devscast, Numeric Builders | devs-cast.com">
    <meta property="og:description" content="{{ meta().description }}">
    <meta name="description" content="{{ meta().description }}">
{% endblock %}

{% block body %}
    <div class="main-banner bg-black">
        <div class="container" style="z-index: 1000">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-content">
                        <h1>DEVSCAST</h1>
                        <span>Numeric Builders</span>
                        <p>
                            Nous sommes une communautés de développeurs
                            dont l'objectif est d'apporter des solutions aux problèmes
                            de notre entourage grâce à l'opensource
                            et construire la solution numérique qui vous manque.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="banner-image animated fadeIn">
                        <img src="{{ asset('/assets/img/hero.svg') }}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'app/includes/_divider.html.twig' %}
    {% include 'app/sections/_about.html.twig' %}
    {% include 'app/includes/_divider.html.twig' %}
    {% include 'app/sections/_services.html.twig' %}
    {% include 'app/includes/_divider.html.twig' %}
    {% include 'app/sections/_team.html.twig' %}
    {% include 'app/includes/_divider.html.twig' %}
{% endblock %}
