{% extends "layout/base.html.twig" %}

{% block body %}
    <div class="main-banner bg-black" id="js-particles">
        <div class="container" style="z-index: 1000">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="banner-content">
                        <h1>DEVSCAST</h1>
                        <span>We bring your dreams to reality</span>
                        <p>
                            Nous sommes une communautés de développeurs
                            ayant pour but d'apporter des solutions aux problèmes
                            de notre entourage grâce à l'opensource
                            et apporter la solution numérique qui vous manque.
                        </p>

                        <div class="social">
                            <ul>
                                <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="" target="_blank"><i class="fab fa-github-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="banner-image">
                        <img src="{{ asset('assets/img/bernard.png') }}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'app/includes/_divider.html.twig' %}
    {% include 'app/sections/_about.html.twig' %}
    {% include 'app/includes/_divider.html.twig' %}
    {% include 'app/sections/_services.html.twig' %}
    {% include 'app/includes/_divider.html.twig' %}
    {% include 'app/sections/_subscribe.html.twig' %}
    {% include 'app/sections/_team.html.twig' %}
    {% include 'app/includes/_divider.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    {% endblock %}
{% endblock %}
