.overview-box {
  border-bottom: 1px solid #111111;
  padding-bottom: 50px;
  margin-bottom: 50px;

  .about-content {
    position: relative;
    padding: {
      left: 52px;
      right: 40px;
    }

    i {
      color: $main-color;
      font-size: 35px;
      position: absolute;
      left: 0;
      top: -5px;

      &::before {
        font-size: 35px;
      }
    }

    h3 {
      margin-bottom: 0;
      transition: $transition;
      color: $white-color;
      font: {
        size: 20px;
        weight: 700;
      }
    }

    .bar {
      width: 50px;
      height: 2px;
      background-color: #525252;
      margin: {
        top: 5px;
        bottom: 15px;
      }
    }

    p {
      color: $paragraph-color;
      font: {
        style: italic;
      }
    }

    .btn-box {
      margin-top: 20px;

      .white-color-btn {
        margin-left: 8px;
      }
    }
  }

  .skills-list {
    position: relative;

    .skill-item {
      position: relative;
      margin-bottom: 20px;

      .skill-header {
        position: relative;
        margin-bottom: 10px;

        .skill-title {
          margin-bottom: 0;
          color: $white-color;
          text-transform: uppercase;
          font: {
            size: 13px;
            weight: 600;
          }
        }

        .skill-percentage {
          position: absolute;
          right: 0;
          top: -2px;
          color: $white-color;
          font: {
            size: 14px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .skill-bar {
        position: relative;
        width: 100%;

        .bar-inner {
          position: relative;
          width: 100%;
          border-bottom: 4px solid rgba(17, 17, 17, 0.4);
          border-radius: 30px;

          .bar {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 0px;
            height: 4px;
            background: $main-color;
            transition: all 2000ms ease;
            border-radius: 30px;
          }
        }
      }
    }
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
  }

  .experience-list {
    ul {
      padding-left: 0;
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: {
        right: -15px;
        left: -15px;
        bottom: 0;
        top: -20px;
      }

      li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        color: $paragraph-color;
        line-height: 1.8;
        margin-top: 20px;
        font-size: 13.5px;
        padding: {
          left: 15px;
          right: 15px;
        }

        span {
          display: block;
          color: $white-color;
          margin-bottom: 6px;
          font: {
            size: 16px;
            weight: 600;
          }
        }
      }
    }
  }
}

.overview-box.light {
  border-bottom: 1px solid #ececec;

  &:last-child {
    border-bottom: none;
  }

  .about-content {
    h3 {
      color: $black-color-two;
    }

    .bar {
      background-color: #ececec;
    }

    p {
      color: $paragraph-color-two;
    }

    .btn-box {
      .default-btn {
        border: 1px solid $main-color;
      }
    }
  }

  .skills-list {
    .skill-item {
      .skill-header {
        .skill-title {
          color: $black-color-two;
        }

        .skill-percentage {
          color: $black-color-two;
        }
      }
    }
  }

  .experience-list {
    ul {
      li {
        color: $paragraph-color-two;

        span {
          color: $black-color-two;
        }
      }
    }
  }
}
