.footer-area {
  background-color: #111111;
  position: relative;
  z-index: 1;
  padding: {
    top: 100px;
    bottom: 65px;
  }

  .br-line {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.bg-f9f9f9 {
  background-color: #f9f9f9 !important;
}

.footer-area.bg-f9f9f9 {
  .footer-content {
    p {
      color: $paragraph-color-two;
    }

    .footer-contact-info {
      li {
        color: $paragraph-color-two;

        a {
          color: $paragraph-color-two;

          &:hover {
            color: $main-color;
          }
        }
      }
    }

    .social {
      li {
        a {
          color: $paragraph-color-two;

          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

.footer-content {
  text-align: center;
  max-width: 500px;
  margin: {
    left: auto;
    right: auto;
  }

  .logo {
    a {
      display: inline-block;
    }
  }

  p {
    margin: {
      top: 20px;
      bottom: 0;
    }
  }

  .footer-contact-info {
    padding-left: 0;
    list-style-type: none;
    margin: {
      bottom: 0;
      top: 15px;
    }

    li {
      display: inline-block;
      color: $white-color;
      position: relative;
      font: {
        size: $font-size;
      }
      margin: {
        left: 10px;
        right: 10px;
      }

      a {
        color: $paragraph-color;

        &:hover {
          color: $main-color;
        }
      }

      &:last-child {
        margin-right: 0;

        &::before {
          display: none;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &::before {
        content: '';
        position: absolute;
        right: -12px;
        top: 50%;
        height: 12px;
        width: 1px;
        background-color: $paragraph-color;
        transform: rotate(8deg) translateY(-50%);
      }
    }
  }

  .social {
    list-style-type: none;
    padding-left: 0;
    margin: {
      top: 20px;
      bottom: 0;
    }

    li {
      display: inline-block;
      margin: {
        left: 7px;
        right: 7px;
      }

      a {
        color: $white-color;
        display: inline-block;
        font-size: 19px;

        &:hover {
          color: $main-color;
          transform: translateY(-2px);
        }
      }

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.footer-shape1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.footer-shape2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.copyright-area {
  background-color: #202020;
  padding: {
    top: 20px;
    bottom: 20px;
  }

  p {
    margin-bottom: 0;
    line-height: initial;
    color: $paragraph-color;

    i {
      margin-right: 0;
      font-size: 14px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    text-align: right;

    li {
      display: inline-block;
      position: relative;
      margin: {
        left: 10px;
        right: 10px;
      }

      a {
        display: inline-block;
        color: $paragraph-color;

        &:hover {
          color: $main-color;
        }
      }

      &::before {
        content: '';
        position: absolute;
        right: -15px;
        top: 11px;
        height: 1px;
        width: 7px;
        background-color: $paragraph-color;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;

        &::before {
          display: none;
        }
      }
    }
  }
}
