.page-title-area {
  text-align: center;
  position: relative;
  padding: {
    top: 80px;
    bottom: 140px;
  }

  h1, h2 {
    color: $white-color;
    margin-bottom: 0;
    line-height: 1.4;
    font: {
      size: 34px;
      weight: 700;
    }
  }

  .br-line {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.page-title-area.bg-light {
  h2, h1 {
    color: $black-color-two;
  }
}

.page-item {
  &.active .page-link {
    z-index: 3;
    color: $main-color;
    border-color: $main-color;
  }

  &.disabled .page-link {
    z-index: 2;
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
    border-color: $white-color-two;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.7rem;
  margin-left: -1px;
  line-height: 1.25;
  color: inherit;
  background-color: transparent !important;
  border: 1px solid $white-color-two;

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
  }

  &:hover {
    z-index: 2;
    color: $main-color;
    text-decoration: none;
    border-color: $main-color;
  }
}
