.partner-area {
  padding-bottom: 80px;
}

.partner-item {
  text-align: center;

  img {
    display: inline-block !important;
    width: auto !important;
    opacity: 0.45;
    cursor: pointer;
    transition: $transition;
  }

  &:hover, &:focus {
    img {
      opacity: 1;
    }
  }
}

.partner-area.bg-light {
  .partner-item {
    img {
      opacity: 1;
    }
  }
}
