.team-area {
  padding-bottom: 50px;
}

.single-team-box {
  text-align: center;
  margin-bottom: 30px;

  .team-member-image {
    position: relative;
    z-index: 1;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    transition: $transition;
    margin: 0 auto;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 103%;
      height: 103%;
      background-color: $main-color;
      z-index: -1;
      border-radius: 50%;
      transition: .9s;
    }

    img {
      filter: grayscale(100%);
      transition: $transition;
      border-radius: 50%;
    }
  }

  .team-member-content {
    margin-top: 25px;

    h3 {
      margin-bottom: 0;
      transition: $transition;
      color: $white-color;
      font: {
        size: 20px;
        weight: 700;
      }

      a {
        color: $white-color;
      }
    }

    span {
      display: block;
      transition: $transition;
      color: $main-color;
      margin-top: 5px;
      font: {
        size: 13px;
      }
    }

    .social {
      padding-left: 0;
      list-style-type: none;
      margin: {
        top: 15px;
        bottom: 0;
      }

      li {
        display: inline-block;

        a {
          font-size: 14px;
          width: 30px;
          height: 30px;
          background-color: #111111;
          line-height: 32px;
          border-radius: 50%;
          color: $white-color;
          display: inline-block;

          &:hover {
            color: $white-color;
            background-color: $main-color;
          }

          i {
            &::before {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  &:hover {
    .team-member-image {
      img {
        filter: unset;
      }

      &::before {
        transform: scale(.5);
      }
    }
  }
}

.single-team-box.light {
  .team-member-content {
    h3 {
      color: $black-color-two;
    }
  }

  .team-member-content {
    .social {
      li {
        a {
          background-color: #f3f3f3;
          color: #848484;

          &:hover {
            background-color: $main-color;
            color: $white-color;
          }
        }
      }
    }
  }
}

.team-slides {
  &.owl-theme {
    .owl-nav {
      opacity: 0;
      visibility: hidden;
      transition: $transition;
      line-height: .01;
      margin: {
        bottom: 0;
        top: 0;
      }

      [class*=owl-] {
        outline: 0;
        transition: $transition;
        background-color: #111111;
        width: 40px;
        height: 40px;
        line-height: 42px;
        margin: 0;
        color: $white-color;
        font-size: 15px;
        border-radius: 50%;
        padding: 0;
        position: absolute;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);

        i {
          &::before {
            font-size: 15px;
          }
        }

        &:hover {
          background-color: $main-color;
          color: $white-color;
        }

        &.owl-next {
          left: auto;
          right: -50px;
        }
      }
    }

    &:hover {
      .owl-nav {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
