.testimonials-area {
  &:hover {
    .testimonials-image {
      .main-image {
        filter: unset;
      }

      .shape-image {
        img {
          &:nth-child(1) {
            animation: moveBounce 5s linear infinite;
          }

          &:nth-child(2) {
            animation-name: rotateMe;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }

          &:nth-child(3) {
            animation-name: rotateMe;
            animation-duration: 11s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }

          &:nth-child(4) {
            animation-name: rotateMe;
            animation-duration: 12s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }

          &:nth-child(5) {
            animation: rotate3d 4s linear infinite;
          }

          &:nth-child(6) {
            animation-name: rotateMe;
            animation-duration: 14s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }
    }
  }
}

.testimonials-image {
  position: relative;
  text-align: center;
  margin-right: 20px;

  .main-image {
    transition: $transition;
    filter: grayscale(100%);
  }

  .shape-image {
    img {
      position: absolute;
      transition: $transition;

      &:nth-child(1) {
        left: 65px;
        top: -47px;
      }

      &:nth-child(2) {
        left: 15%;
        top: 35%;
      }

      &:nth-child(3) {
        left: 14%;
        bottom: 11%;
      }

      &:nth-child(4) {
        right: 7%;
        bottom: 28%;
      }

      &:nth-child(5) {
        right: 16%;
        top: 28%;
      }

      &:nth-child(6) {
        right: -20px;
        top: -50px;
      }
    }
  }
}

.single-testimonials-item {
  position: relative;
  text-align: center;

  p {
    color: $paragraph-color;
    margin-bottom: 0;
    font: {
      size: 16px;
      style: italic;
    }
  }

  &::before {
    color: $white-color;
    content: "\f10d";
    margin-top: -21px;
    display: inline-block;
    font: {
      family: Flaticon;
      size: 60px;
      style: normal;
    }
  }

  .client-info {
    margin-top: 20px;

    h3 {
      color: $white-color;
      margin-bottom: 0;
      font: {
        size: 16px;
        weight: 700;
      }
    }

    span {
      display: block;
      color: $main-color;
      margin-top: 5px;
      font: {
        size: 13px;
      }
    }
  }
}

.single-testimonials-item.light {
  &::before {
    color: $main-color;
  }

  p {
    color: $paragraph-color-two;
  }

  .client-info {
    h3 {
      color: $black-color-two;
    }
  }
}

.testimonials-slides.light.owl-theme {
  .owl-nav {
    [class*=owl-] {
      color: #827d7d;
    }
  }
}

.testimonials-slides {
  &.owl-theme {
    .owl-nav {
      margin-top: 0;
      line-height: .01;

      [class*=owl-] {
        position: absolute;
        bottom: 16px;
        left: 0;
        color: $white-color;
        transition: $transition;
        font-size: 20px;
        outline: 0;
        background-color: transparent !important;

        i {
          &::before {
            font-size: 20px;
          }
        }

        &.owl-next {
          left: auto;
          right: 0;
        }

        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

@keyframes moveBounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes rotateMe {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate3d {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
